<div class="row">
    <div class="col-md-4">
      <form>
        <label class="fs-5 form-label">Recherche :</label>
        <input
          type="text"
          class="form-control mb-4"
          placeholder="Nom produit, categorie, ..." 
          #motcle (input)="recherche(motcle.value)" >
        <label class="fs-5 form-label">Prix min :</label>
        <input
          type="number"
          class="form-control mb-4"
          placeholder="Prix minimum"
          #prixMin (input)="recherchePrixMin(+prixMin.value)"
        >
        <label class="fs-5 form-label">Prix max :</label>
        <input
          type="number"
          class="form-control mb-4"
          placeholder="Prix maximum"
          #prixMax (input)="recherchePrixMax(+prixMax.value)"
        >
      </form>
    </div>
</div>